/* global styles */
body{
  font-family: 'Work Sans', sans-serif;
  background: #fafafa;
}

body * {
  box-sizing: border-box;
}

#root{
  min-height: 100vh;
  display: flex;
  align-items: stretch;
  justify-content: center;
}