/* global styles */
html,
body {
  font-family: 'Work Sans', sans-serif;
  background-color: #fafafa;
}

body * {
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display: flex;
  align-items: stretch;
  justify-content: center;
  max-width: 500px;
  margin: auto;
}

/* styles for loading dots from https://codepen.io/seanevd/pen/rLGeWV*/

.surround {
  width: 100%;
  height: 100%;
  position: relative;
}

.loading {
  position: absolute;
  margin: auto;
  width: 100%;
  height: 18px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes load {
  0% {
    transform: scale(0,0);
    opacity: 0;
  }
  25% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.8;
  }
  70% {
    transform: scale(1.5, 1.5);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.loading li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 25px;
  border-radius: 50%;
  border: 2px solid #fff;
  opacity: 0;
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  animation-name: load;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.loading li:nth-child(2) {
  animation-delay: 0.4s;
}
.loading li:nth-child(3) {
  animation-delay: 0.8s;
}

footer{
  background: #26124a;
  color: white;
}